%ul#myTab.nav.nav-tabs
  %li
    %a{href: "#nominatim"} Place Search
  %li.active
    %a{href: "#eventsearch"} Event Search

%div.tab-content
  #nominatim.tab-pane{ng-controller: "NominatimCtrl"}
    %div.content
      %form#searchByNameForm.form-inline{ng-submit: "search()"}
        .control-group
          %input.input-block-level{type: "text", name: "q", placeholder: "Place Name", ng-model: "query"}
        .control-group
          %button.btn-primary{type: "submit", ng-click: "search()"}
            %i.icon-search.icon-white
            Search
      %ul.searchResults
        %li{ng-repeat: "searchResult in searchResults | filter:filterByImportance"}
          %a{ng-click: "loadSearchResultInMap(searchResult)"}
            {[{searchResult.display_name}]}

  #eventsearch.tab-pane.active{ng-controller: "EventSearchCtrl", ng-init: "initialize()"}
    %form#searchForm.form-inline{ng-submit: "search()"}
      .control-group
        %input.input-block-level{type: "text", name: "eventName", placeholder: "Event Name", ng-model: "eName"}
      .control-group
        %input.input-block-level{type: "text", name: "eventCategory", placeholder: "Category",
          ng-model: "eCategory"}
      .control-group
        %input.input-block-level.datepicker{type: "text", name: "eventStartDate",
          data-date-format: "dd/mm/yyyy", placeholder: "Start Date (dd/mm/YYYY)",
          ng-model: "eStartDate", bs-datepicker: None}
      .control-group
        %input.input-block-level.datepicker{type: "text", name: "eventEndDate",
          data-date-format: "dd/mm/yyyy", placeholder: 'End Date (dd/mm/YYYY)',
          ng-model: "eEndDate", bs-datepicker: None}
      %button.btn.btn-primary{type: "submit"}
        %i.icon-search.icon-white
        Search
      %input.btn{type: "reset", value: "Reset"}
    %p{class: "{[{ searchResultDiv() }]}", "ng-cloak": True}
      %strong Search Results
      %a{href: "http://www.openeventmap.de:8003/export?lat={[{map_center.lat}]}&lon={[{map_center.lng}]}&zoom={[{map_center.zoom}]}", target: '_blank' }
        Export
        / old Link: http://osm.openeventmap.tum.de
    %ul#searchresults.accordion{"ng-cloak": True}
      %li.accordion-group{ng-repeat: "(category, eventList) in resultCategoryEventMap"}
        %div.accordion-heading
          %a.accordion-toggle{class: "{[{colorClass(category)}]}", "data-toggle": "collapse", "data-parent": "#searchresults", href: "#event_type_{[{ $index }]}"}
            %span{class: "awesome-marker-icon-{[{getColor(category)}]} awesome-marker-half"}
            &nbsp; {[{ capitalise(category) }]} Events
        %div.accordion-body.collapse{id: "event_type_{[{ $index }]}"}
          %ul.accordion-inner
            %li.event-list{ng-repeat: "event in getEventsForCategory(category)"}
              {[{ event.name }]}
              %br
              %i.icon-eye-open
              %a.event-list-view{href: "#", ng-click: "popupNode(event)"} View
              %i.icon-list-alt
              %a.event-list-relateditems{href: "#", ng-click: "showRelatedItems(event)"} Related Items
