{% extends 'base.haml' %}
{% block container %}
%h2 Contact Us
%p Your feedback matters - please share your thoughts with us below. We welcome your feedback and read every email and comment you send us to openevenmaptum@gmail.com.
{% endblock %}
